
  .card-item {
    display: flex;
    justify-content: center;
    margin-bottom: 112px;
  }
  
  .card-image-wrap {
    max-width: 680px;
    max-height: 715px;
    margin-right: 40px;
  }
  
  .card-image-wrap img {
    height: 100%;
  }
  
  .card-description-wrap {
    max-width: 560px;
  }
  
  .card-description-title {
    font-weight: 500;
    font-size: 40px;
    color: #0a1e32;
    margin-bottom: 24px;
  }
  
  .card-description-text {
    font-size: 16px;
    line-height: 24px;
    color: #464c58;
    margin-bottom: 24px;
  }
  
  .card-description-price {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 24px;
  }
  
  .card-button {
    display: flex;
    align-items: center;
    padding: 8px 35px 8px 65px;
    font-weight: 700;
    font-size: 16px;
    border: 1px dashed #0a1e32;
    border-radius: 4px;
    background: url(../../images/svg/empty-hearth.svg) no-repeat 15% 50%;
  }
  
  .card-button:hover {
    background: url(../../images/svg/hover-darkblue-hearth.svg) no-repeat 15% 50%;
  }
  
  .card-button img {
    width: 20px;
    height: 18px;
    margin-right: 8px;
  }